{% extends 'maintemplate.html' %}
{% load staticfiles %}
{% block main %}
<style>
. {
  padding: 20px;
  text-align: center;
}
.header{
    padding: 20px;
    text-align: center;
    outline-style: double;
    border-color: darkcyan;
}

</style>
<br><br><br>

    <div class="header" style="color: #85583f" >
        <h1>Main</h1>
    </div>
<br>
<hr>
<br>
    <h1>hello</h1>
{% for conn in content %}
    <br>
<h2>{{ conn.0.Photo_name }}</h2>
<div class="row">
<div class="col">
    <div class="row"><img src='media/{{ conn.0.Photo_img }}' height="400px" style="opacity: 0.6"></div>
    <div class="row"></div>
</div>
<div class="col-1"></div>
<div class="col header">{{ conn.0.Photo_about }}</div>
</div>
<hr>
<a type="button" class="btn  btn-block" style="background:#08666e;color: #fdeacf " data-toggle="collapse" data-target="#demo">Choose Size</a>
<hr>
<div id="demo" class="collapse">

<div class="row" style="font-style: oblique">
<div class="col">
    <div class="col"><img src="{% static "sm.png" %}" height="70px"></div>
    <div class="col"> Small</div>
</div>
<div class="col">
    <div class="col"><img src="{% static "md.png" %}" height="70px"></div>
    <div class="col"> Medium</div>
</div>
<div class="col">
    <div class="col"><img src="{% static "bg.png" %}" height="70px"></div>
    <div class="col"> Big </div>
</div>
</div>
</div>
{% endfor %}









{% endblock %}