{% extends 'maintemplate.html' %}
{% load staticfiles %}
{% block main %}
<style>
. {
  padding: 20px;
  text-align: center;
}
.header{
    padding: 20px;
    text-align: center;
    outline-style: double;
    border-color: darkcyan;
}
body{background: {% static "lol.png" %}}

</style>
<br><br><br>

    <div class="header" style="color: #85583f" >
        <h1>Main</h1>
    </div>
<br>
<hr>
<br>
<div class="row">
<div class="col">
    <div class="col"><img src="{% static "sm.png" %}" height="70px"></div>
    <div class="col"> Small</div>
</div>
<div class="col">
    <div class="col"><img src="{% static "md.png" %}" height="70px"></div>
    <div class="col"> Medium</div>
</div>
<div class="col">
    <div class="col"><img src="{% static "bg.png" %}" height="70px"></div>
    <div class="col"> Big </div>
</div>
</div>








{% endblock %}