{% extends 'maintemplate.html' %}
{% load staticfiles %}
{% block index %}
<style>
.header {
    padding: 20px;
    text-align: center;

    font-size: 40px;
    font-style: oblique;
}

.row1 {

  border: 1px solid gray;
  padding: 30px;
}
p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}


</style>
<br><br><br>

<div class="row"   >
    <div class="col">
        <div class="header" style="color: #85583f">
        <h1>{{ status }}</h1>
    </div>
        <form action="{{ url }}" method="POST">
        {% csrf_token %}
          <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control" name="login">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password">
          </div>
         {% if status == "Registration:" %}
         <a type="button" class="btn  btn-block" style="background:#08666e;color: #fdeacf " data-toggle="collapse" data-target="#demo">Additional Information</a>
         <hr>
         <div id="demo" class="collapse">
          <div class="form-group">
            <label for="name">Your Name:</label>
            <input type="name" class="form-control" name="name">
          </div>
          <div class="form-group">
            <label for="last">Your lastname:</label>
            <input type="last" class="form-control" name="last">
          </div>
          <div class="form-group">
            <label for="email">Your Email:</label>
            <input type="email" class="form-control" name="email">
          </div>
         </div>
          {% endif %}
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="check"> Remember me
            </label>
          </div>
          <button type="submit" class="btn "style="background-color: #c37a5a;color: #faf6ea">Submit</button>
        </form>
        {% if error %}
            <br><br><br>
            <div class="alert alert"style="background-color: #4c241a;opacity: 0.7;color: #faf6ea">
              <strong>Error!</strong> {{ error }} <a href="regist/regist/" class="alert-link"style="color: #fdeacf">Create new User</a>.
            </div>
        {% endif %}

        {% if succ %}
            <strong>Success!</strong> {{ succ }} <a href="regist/regist/" class="alert-link"style="color: #fdeacf">Create new User</a>.
        {% endif %}
    </div>
    <div class="col" >
        <div class="row1">
            <div class="header" >About</div>
                <div class="row"><p>
                    This text is styled with some of the text formatting properties.
                    The heading uses the text-align, text-transform, and color properties.
                    The paragraph is indented, aligned, and the space between characters is specified.
                    The underline is removed from this colored "Try it Yourself" link.
                    </p>
                </div>
        </div>
    </div>
</div>
{% endblock %}